<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ticwear.design.demo">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- For ringtone preference -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mobvoi.design.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mobvoi.design.demo.DetailsActivity" />
        <activity android:name="com.mobvoi.design.demo.ContentActivity"/>
        <activity android:name="com.mobvoi.design.demo.SettingsActivity"
            android:label="@string/category.settings.title"/>

        <activity android:name="ticwear.design.app.RingtonePickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
