<header class="site-header">

  <div class="menu">
  	<ul>
      	<li>
          	<a href="{{ site.baseurl }}/design/">设计指南</a>
          </li>
      	<li>
          	<a href="{{ site.baseurl }}/dev/">开发文档</a>
          </li>
      	<li>
          	<a href="">下载示例</a>
        </li>
        <li>
        	<small>
            	<a href="">EN</a> / <a href="" class="current">中文</a>
            </small>
        </li>
        <h1>
            <a href="{{ site.baseurl }}/"><img src="/assets/img/logo.png"></a>
        </h1>
    </ul>
  </div>

</header>
