<header id="header" class="header--fixed">
  <!--移动端导航-->
  <div class="hamburgerControler"></div>
  <div class="hamburger">
      <ul>
      {% include header_links.html %}
      </ul>
  </div>
  <script type="text/javascript">
  $(function(){
      $(".hamburgerControler").toggle(function(){
          $(".hamburger").show();
          $(this).css("background-position","0 -25px")
      },function(){
          $(".hamburger").hide();
          $(this).css("background-position","0 0")
      })
  })
  </script>
  <!--/移动端导航-->
  <!--headroom-->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/headroom.js"></script>
  <script>
  (function() {
      var header = document.querySelector("#header");
      if(window.location.hash) {
        header.classList.add("headroom--unpinned");
      }
      var headroom = new Headroom(header, {
          tolerance: {


          },

      });
      headroom.init();
  }());
  </script>
  <!--/headroom-->

  {% assign locale = page.url | truncate: 3, '' | remove: '/' %}

  {% unless site.authorized_locales contains locale %}
    {% assign locale = site.default_locale %}
  {% endunless %}

  {% if locale == site.default_locale %}
    {% assign rootpath = '' %}
  {% else %}
    {% assign rootpath = locale | append: '/' %}
  {% endif %}

  {% assign pagepath = page.url | remove_first: '/' | remove: rootpath %}

  <div class="menu">
    <div class="menu-content">
      <h1>
        <a href="{{ site.baseurl }}/{{ rootpath }}">
          <img alt="TicDesign" src="{{ site.baseurl }}/assets/img/logo.png"
               srcset="{{ site.baseurl }}/assets/img/logo-hd.png 2x"
               width="187">
        </a>
      </h1>
      <ul>
        {% include header_links.html %}
        {% if site.data.langs %}
        <li>
          <small>
            {% for lang in site.data.langs %}

            <!-- Determinate the language's root path. -->
            {% if lang[0] == site.default_locale %}
              {% assign langpath = '' %}
            {% else %}
              {% assign langpath = lang[0] | append: '/' %}
            {% endif %}

            <!-- Check whether this language is current. -->
            {% if langpath == rootpath %}
              {% assign highlight = 'current' %}
            {% else %}
              {% assign highlight = '' %}
            {% endif %}

            <a href="{{ site.baseurl }}/{{ langpath }}{{ pagepath }}" class="{{ highlight }}">{{ lang[1] }}</a>
            {% unless forloop.last %}
            /
            {% endunless %}
            {% endfor %}
          </small>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

</header>
