{% assign current_doc = page.url | split: '/' | last %}
{% assign locale = page.url | truncate: 3, '' | remove: '/' %}

{% unless site.authorized_locales contains locale %}
  {% assign locale = site.default_locale %}
{% endunless %}

{% for tab in site.data.tabs[locale] %}
  {% assign path = tab.url | split: '://' | last %}
  {% assign protocal = tab.url | replace: path | split: '://' | first %}
  {% if protocal %}
    {% assign full_url = tab.url %}
  {% else %}
    {% assign full_url = tab.url | prepend: site.baseurl %}
  {% endif %}
  <li>
    <a {% if protocal %} target="_blank" {% endif %} href="{{ full_url }}" class="{% if page.url == tab.url %} current {% endif %}">{{ tab.title }}</a>
  </li>
{% endfor %}
