<header id="header" class="header--fixed">
  <!--移动端导航-->
  <div class="hamburgerControler"></div>
  <div class="hamburger">
      <ul>
        {% for tab in site.data.tabs %}
          {% assign path = tab.url | split: '://' | last %}
          {% assign protocal = tab.url | replace: path | split: '://' | first %}
          {% if protocal %}
            {% assign full_url = tab.url %}
          {% else %}
            {% assign full_url = tab.url | prepend: site.baseurl %}
          {% endif %}
          <li>
            <a href="{{ full_url }}">{{ tab.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  <script type="text/javascript">
  $(function(){
      $(".hamburgerControler").toggle(function(){
          $(".hamburger").show();
          $(this).css("background-position","0 -25px")
      },function(){
          $(".hamburger").hide();
          $(this).css("background-position","0 0")
      })
  })
  </script>
  <!--/移动端导航-->
  <!--headroom-->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/headroom.js"></script>
  <script>
  (function() {
      var header = document.querySelector("#header");
      if(window.location.hash) {
        header.classList.add("headroom--unpinned");
      }
      var headroom = new Headroom(header, {
          tolerance: {
            
           
          },
         
      });
      headroom.init();
  }());
  </script>
  <!--/headroom-->

  <div class="menu">
    <ul>
      <!-- <li>
        <small>
          <a href="">EN</a> / <a href="" class="current">中文</a>
        </small>
      </li> -->
      {% assign current_doc = page.url | split: '/' | last %}
      {% for tab in site.data.tabs reversed %}
        {% assign path = tab.url | split: '://' | last %}
        {% assign protocal = tab.url | replace: path | split: '://' | first %}
        {% if protocal %}
          {% assign full_url = tab.url %}
        {% else %}
          {% assign full_url = tab.url | prepend: site.baseurl %}
        {% endif %}
        <li>
          <a href="{{ full_url }}" class="{% if page.url == tab.url %} current {% endif %}">{{ tab.title }}</a>
        </li>
      {% endfor %}
      <h1>
        <a href="{{ site.baseurl }}/">
          <img alt="my awesome image" src="{{ site.baseurl }}/assets/img/logo.png"
               srcset="{{ site.baseurl }}/assets/img/logo-hd.png 2x"
               width="187"></a>
      </h1>
    </ul>
  </div>

</header>
