// An override of grid system for document theme.
// Dependens on _grid.scss

@mixin post-grid-override {
  .row .col {
    float: left;
    box-sizing: border-box;
    padding: 0;
  }

  .row .col.padding {
    padding: 0 0.75rem;
  }

  .row {
    margin:1.8em auto 2.2em auto;
  }

  .center {
    text-align: center;
  }


  .col-full {
    @extend .col;
    @extend .s12;
    @extend .padding;
    @extend .center;
  }

  .col-half {
    @extend .col;
    @extend .s12;
    @extend .m6;
    @extend .padding;
    @extend .center;
  }

  .col-third {
    @extend .col;
    @extend .s12;
    @extend .m4;
    @extend .padding;
    @extend .center;
  }

  .col-two-third {
    @extend .col;
    @extend .s12;
    @extend .m8;
    @extend .padding;
    @extend .center;
  }
}
